{% extends 'base.html.twig' %}

{% block content %}
    <div class="inner cover">
        <h1 class="cover-heading">The Big Win</h1>
        <div class="lottery-section">
            <p class="lead">
                Welcome to <strong>The Big Win</strong>,
                home to the best lotteries and competitions across the globe!!
            </p>
        </div>
        <div class="lottery-section">

            <p class="lead">
                Signup now for to get a number, it costs nothing and the prizes
                are
                <strong>BIG</strong>.
            </p>
        </div>
        <div class="lottery-section">

            <p class="lead">
                <a href="/lottery/" class="btn btn-lg btn-default">View ongoing
                    lotteries</a>
            </p>
        </div>

    </div>
{% endblock %}
